

<div lass="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit your Recipe</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Recipe for Life<br>
            What would your ideal day look like? Write it out like a recipe, whatever that means to you. </p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <form action="/submit-recipe" enctype="multipart/form-data" method="post" id="myform">
            <div class="row g-3">
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="name" class="form-label">Recipe name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="description class="form-label">Description</label>
                    
                    <textarea name="description" id="description" cols="30" rows="4" class="form-control"></textarea required>
                </div>

                <div class="col-12">
                    <label for="ingredients" class="form-label">Ingredient </label>
                    <input type="text" name="ingredients" id="ingredients" class="form-control" required>
                </div>
                

                <div class="col-12">
                    <label for="category">Select category</label>
                    <select class="form-select form-control" name="category" aria-label="category">
                        <option selected>Select Category</option>
                        <option value="Thai">Thai</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Indian">Indian</option>
                        <option value="Chinese">Chinese</option>
                        <option value="American">American</option>
                    </select>
                </div>

                <!-- <div class="col-12">
                    <label for="image">Product Image</label>
                    <input type="file" class="form-control" name="image" accept="image/*">
                </div> -->

                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="submitre">Submit</button>
                </div>

            </div>
        </form>
    </div>
</div>